MCMC/Arviz/regression10d.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/rugby_field.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_5.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_8.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Turing/demo_chain.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/classification10d.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/glycan_torsion_angles.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/non_centered_eight.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/radon_hierarchical.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/regression1d.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_3.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_2.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_6.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_7.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_9.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/rugby.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_10.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_1.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Stan/finite-mixture-20250806105328_4.csv filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/centered_eight.nc filter=lfs diff=lfs merge=lfs -text
MCMC/Arviz/classification1d.nc filter=lfs diff=lfs merge=lfs -text
